## 2.2 Data Preprocessing
### 2.2.1 Reading the Dataset

In [1]:
import os
os.makedirs(os.path.join('src','data'), exist_ok=True)
data_file=os.path.join('src','data','house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n')     # Column names
    f.write('NA,Pave,127500\n')             # Each row represents a data example
    f.write('2,NA,106000\n')                # 数据不能加空格，「 NA」与「NA」是两种数据
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')
    f.write('6.0,NA,134000')

In [2]:
import pandas as pd

data_file=os.path.join('src','data','house_tiny.csv')
data=pd.read_csv(data_file)
print(data)

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0    NaN  106000
2       4.0    NaN  178100
3       NaN    NaN  140000
4       6.0    NaN  134000

### 2.2.2 Handling Missing Data

In [3]:
inputs, outputs=data.iloc[:,0:2], data.iloc[:,2]
inputs=inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  Alley
0       4.0   Pave
1       2.0    NaN
2       4.0    NaN
3       4.0    NaN
4       6.0    NaN

In [4]:
inputs=pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms   Alley_Pave   Alley_nan
0       4.0            1           0
1       2.0            0           1
2       4.0            0           1
3       4.0            0           1
4       6.0            0           1

### 2.2.3 Conversion to the Tensor Format

In [5]:
from mxnet import np

X,y=np.array(inputs.values), np.array(outputs.values)
X,y

(array([[4., 1., 0.],
        [2., 0., 1.],
        [4., 0., 1.],
        [4., 0., 1.],
        [6., 0., 1.]], dtype=float64),
 array([127500, 106000, 178100, 140000, 134000], dtype=int64))